.weather {
  width: 500px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #4d4d4d;
  background-color: #fff;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.description {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1;
  margin-top: 10px;
}

.weather-icon {
  width: 120px;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
  color: #722f37;
}

.details {
  width: 100%;
  padding-left: 80px;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #722f37;
  flex-wrap: wrap;
  padding: 5px 0;
  /* border-bottom: 1px solid black; */
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 16px;
}

.parameter-label.top {
  border-bottom: 1px solid #fff;
}
