.parent {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1080px;
  margin: 20px auto;
}

.header {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #722f37;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background: #fff;
  color: #722f37;
  padding: 10px 0;
  /* z-index: 100; */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}
